@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.channels-div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.channels-heading
{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 800;
    
}